/* 
    hide displaying messages like: "[icon] Gave Silver" on chat
    and instead display message: 'removed by "No awards for Reddit" extension`
    RPAN WORKS ONLY ON NEW REDDIT
*/

.Qkdtf2CTKJDknbazL-AMW {
	background: none !important;
	border: 0 !important;
}

.Qkdtf2CTKJDknbazL-AMW div {
	display: none !important;
}

.Qkdtf2CTKJDknbazL-AMW p {
	display: none !important;
}

.Qkdtf2CTKJDknbazL-AMW:after {
	content: 'removed by "No awards for Reddit" extension' !important;
	font-size: 12px !important;
	font-style: italic !important;
	color: lightgray !important;
}

/* 
    when RPAN loads a lot of awards pops-out from the "awards" or "sign up" button
    RPAN WORKS ONLY ON NEW REDDIT
*/
.FnKrJdIHMgaZCe4KmJpIs {
	display: none !important;
}

/* 
    hide div wrapper for animation with an award (thats displayed on the middle of the RPAN stream) when some has given an award
    RPAN WORKS ONLY ON NEW REDDIT
*/
._2KvsuLKnVtlqMTrKCouaF8._3POkDmO2vbDMOp12f4hNNM {
	display: none !important;
}
