/* 
	div wrapper used both for comments and posts
	ONLY FOR NEW REDDIT
*/
._1wgnb6w6OJogtEV2N4B3lD {
  display: none;
}
/* 
	cross-posted posts have different div wrapper for the awards
	this styling hides it completely - USED ON NEW REDDIT.COM
*/
._3XoW0oYd5806XiOr24gGdb {
  display: none;
}

/* wrapper div for awards used only on OLD.REDDIT.COM */
.awardings-bar {
  display: none;
}

/* 
	div used for animated awards - remove red box-shadow 
	ONLY FOR NEW REDDIT
*/
._3VH2iGVh92XtlKq0-eVoEN {
  box-shadow: none !important;
}

/* 
	div wrapper with an animated award svg element 
	ONLY FOR NEW REDDIT
*/
._28x1bnTjOY6zWZfooCxkKQ {
  display: none;
}

/* 
	comments with big(?) ammount of awards have yellowish gradient set as a background
	this removes it
	ONLY FOR NEW REDDIT
*/
.TmlaIdEplCzZ0F1aRGYQh {
  background: inherit;
}
